[Unit]
Description=SahamLens local schedule - news

[Timer]
OnCalendar=*-*-* 06..22:00/5:00 Asia/Jakarta
Persistent=true
AccuracySec=1s
Unit=sahamlens-local-cron@news.service

[Install]
WantedBy=timers.target
